.container-ele{

    display: flex;
    flex-direction: row;      
}

  /* הזזת המעלית למיקום רצוי */
.elevator-img {
   
    transition: transform 0.5s ease-in-out; /* עיבוד חלק ואיטי של התנועה */
    width: 35px;
    height: 35px;
    transition: transform 1s ease; /* אנימציה חלקה */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
 
  
  